page-placeholder {
    .scroll-content {
        background: rgba(map-get($colors, secondary), .4);

        .placeholder-box {
            width: 100%;
            text-align: center;
            padding: 20px;
            color: map-get($colors, secondary);
            margin-top: 80px;

            ion-icon {
                font-size: 11rem;
            }

            p {
                font-size: 2.2rem;
                margin: 5px;
                font-weight: 500;
            }
        }
    }
}
