.app-tabs {
    & > .tabbar {
        a.tab-button {
            color: map-get($colors, primary);
            padding: 0px;
            opacity: 1;

            ion-icon {
                color: map-get($colors, primary);
                font-size: 2.7rem;
            }

            .tab-button-text {
                // FIX visibility of ionic tab when translate is not ready
                display: block;
            }

            &[aria-selected="true"] {
                background: map-get($colors, primary);
                color: map-get($colors, light);

                ion-icon {
                    color: map-get($colors, light);
                }
            }

            ion-badge {
                color: #fff;
                background-color: #f53d3d;
                border-radius: 10px;
            }
        }
    }

    // Split view
    &.split-view {

        // Only for portrait mode
        .tabbar {
            max-width: $split-pane-md-side-min-width - 1;
        }

        ion-nav.split-pane-main {
            .fixed-content,
            .scroll-content {
                margin-bottom: 0 !important;
            }
        }
    }
}
