
.split-pane-side:not(ion-menu) {
    display: initial;
}
.split-pane-main {
    display: none;
}
.split-pane-visible {
    .split-pane-main {
        display: block;
    }
}

// Fixed margins in order to help ionic during rotation phase
.split-view ion-split-pane {
    .fixed-content:not(.fixed-content .fixed-content),
    .scroll-content:not(.scroll-content .scroll-content) {
        margin-top: 56px !important;    // Default margin-top for split-view side panel
        margin-bottom: 56px !important; // Default margin-bottom for split-view side panel
    }
}

// Fixed margin for iOS platform to consider 20px for the status bar
.platform-cordova.platform-ios .split-view ion-split-pane {
    .fixed-content:not(.fixed-content .fixed-content),
    .scroll-content:not(.scroll-content .scroll-content) {
        margin-top: 76px !important;    // Default margin-top for ios split-view side panel
    }
}
