page-home {
    .chart-container {
        height: 10vh;
        width: 80vw;
    }

    .style-button{
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }
}
